/*---------------------- RESET ----------------------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*---------------------- COMMON ----------------------*/
body {
    font-family: Arial;
}
header {
    /* height: 50px; */
    /* background-color: rgb(102, 119, 119); */
    background-color: rgb(70, 75, 75);
}

main {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    background-color: rgb(70, 75, 75);
}

footer {
    height: 60px;
    background-image: linear-gradient(rgb(48, 48, 48), rgb(0, 0, 0));
}

/*---------------------- HEADER ----------------------*/
.container {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}
.item {
    border: 1px solid red;
    width: 10%;
}

/*---------------------- MAIN ----------------------*/
.box-main {
    display: flex;
    flex-wrap: wrap;

    height: calc(100% - 6px);
    width: 80%;
    position: relative;
}
.main-item {
    background-image: url(../img/user.jpg);
    background-size: cover;

    position: relative;
    /* height: calc(20% - 6px); */
    width: calc(20% - 6px);
    margin: 3px;
    border-radius: 8px;   
}
.name-user {
    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 5px;
    bottom: 5px;

    height: 20px;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 8px;
    padding: 0px 4px;
}
.name-user p, .name-user i {
    padding: 0px 4px;
    line-height: 20px;
}
.name-user p {
    color: white;
}
.name-user i {
    color: rgb(253, 63, 29);
}

/*---------------------- arrow ----------------------*/
.arrow {
    position: absolute;
    left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 90px;
    width: 60px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid;
    text-align: center;
    background-image: linear-gradient(rgb(48, 48, 48), rgb(0, 0, 0));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527); 
}
.arrow i {
    /* border: 1px solid red; */
    font-size: 60px;
    color: rgb(64, 169, 255);
}
.arrow i:hover {
    cursor: pointer;
}
.arrow i:active {
    color: rgb(44, 113, 168);
}
.arrow p {
    /* border: 1px solid red; */
    color: grey;
}

/*---------------------- FOOTER ----------------------*/
.box {
    display: flex;
    justify-content: space-between;

    height: 100%;
    font-size: 12px;
    color: rgb(175, 175, 175);
}
.item-L, .item-C, .item-R {
    display: flex;
    align-items: center;

    height: 100%;
}
.item-C {
    justify-content: center;
}

.item-nav {
    margin: 0px 20px;
    text-align: center;
}

.item-nav i, .share-screen i {
    font-size: 20px;
}
.item-nav:hover, .share-screen:hover {
    cursor: pointer;
}
.item-nav:active {
    color: grey;
}

.share-screen {
    margin: 0px 20px;
    text-align: center;
    color: rgb(47, 199, 47);
}
.share-screen:active {
    color: rgb(21, 165, 83);
}

/*---------------------- button ----------------------*/
.item-R button {
    margin: 0px 20px;
    padding: 5px 20px;
    border-radius: 8px;
    color: white;
    background-color: rgb(230, 19, 19);
    border: none;
}
.item-R button:hover {
    cursor: pointer;
}
.item-R button:active {
    background-color: rgb(180, 3, 3);
}